/*Estilos Index*/
html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 85px;
    background-color: #e1e1e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #5c5c5c;
}

#relleno{
    /*Sirve para mantener la estetica del header (que no se mueva y se visualice lo demás)*/
    height: 85px;
}

.logoUnam{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    clear: left;
}

.logoFi{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    clear: right;
}

img.alineadoTextoCentro{
    vertical-align: middle;
}

p.texto{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

main{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #505050;
    padding-top: 30px;
}

.login{
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px 20px;
    width: 410px;
    background: white;
    border-radius: 2px 2px 5px 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login:before{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
}

.login h6{
    margin: -20px -20px 21px;
    line-height: 40px;
    font-weight: lighter;
    color: white;
    border-radius: 2px 2px;
    text-align: center;
    background: #d71111;
}

.login p{
    margin: 20px 0 0;
}

.login p:first-child{
    margin-top: 0;
}

.login input[type=text], .login input[type=password]{
    width: 367px;
}

.login p.remember_me label{
    font-size: 12px;
    color: #505050;
    cursor: pointer;
    margin-left: 5px;
}

.login p.remember_me input{
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.login p.submit{
    text-align: right;
}

.login-help{
    margin: 10px 5px;
    color: #505050;
    text-align: left;
}

.login-help a{
    color: blue;
    font-size: 11px;
    text-decoration: none;
}

.login-help a:hover{
    text-decoration: underline;
}

:-moz-placeholder{
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder{
    color: #ccc;
    font-size: 13px;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password]{
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
}

input[type=button]{
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #d71111;
    border: 1px solid;
    border-radius: 5px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

input[type=submit]:active{
    background: white;
    color: #d71111;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password]{
    line-height: 34px;
}

#contenedorAlerta{
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer{
    height: 30px;
    background-color: #d71111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
/*Estilos Index*/
/*Estilos Admin*/
.mensajeBienvenida{
    display: block;
    margin-left: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: right;
    color: #505050;
    background-color: white;
    height: 50px;
    padding-right: 10px;
    padding-top: 10px;
}

.menu{
    background-color: white;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: #d71111;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active{
    background-color: #d71111;
    color: white;
}

li a:hover:not(.active){
    background-color: rgba(255, 0, 0, 0.5);
    color: #505050;
}

#pantallaAdmin{
    display: block;
    margin-left: 15%;
    background-color: white;
    height: 550px;
    padding-top: 50px;
}

#pantallaAdminAPM{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#pantallaAdminAPT{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    overflow:scroll;
    height:400px;
}

#pantallaAdminAPB{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    float: right;
}

.table{
    width: 500px;
}

#pantallaAdminAHM{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#tablaAH{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    overflow:scroll;
    height:400px;
}
/*Estilos Admin*/
/*Estilos User Registra*/
#pantallaUserR{
    display: block;
    background-color: white;
    height: 550px;
    width: 100%;
    padding-top: 50px;
}

.botonUsers{
    background-color: #d71111;
    border-radius: 5px;
    color: white;
    padding: 0 18px;
    height: 75px;
    width: 350px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#pantallaUserRB{
    display: block;
    background-color: white;
    width: 100%;
    padding-top: 100px;
}

#salidaInicio{
    text-decoration: none;
    border: black 2px solid;
    display: block;
    margin-left: 80%;
    margin-right: 20px;
    border-radius: 5px;
    color: #505050;
    margin-top: 10%;
}

#salidaInicio:hover:not(.active){
    color: black;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}

.eFormulario{
    background-color: white;
    margin-left: 22%;
    margin-right: 22%;
    padding-top: 2%;
}

.botonEnvio{
    background-color: #d71111;
    border-radius: 5px;
    color: white;
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#salidaInicioF{
    text-decoration: none;
    border: black 2px solid;
    display: block;
    margin-left: 80%;
    margin-right: 20px;
    border-radius: 5px;
    color: #505050;
}

#salidaInicioF:hover:not(.active){
    color: black;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}

#pFormularioN input[type=text]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 686px;
    margin-bottom: 0px;
    height: 23px;
}
#pFormularioCA input[type=number], input[type=text]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 249px;
    margin-bottom: 0px;
    height: 23px;
}

#pFormularioC input[type=text]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 240px;
    margin-bottom: 0px;
    height: 23px;
}

#pFormularioP input[type=text]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 220px;
    margin-bottom: 0px;
    height: 23px;
}

.horario{
    background-color: lightgray;
}

/*Estilos User Registra*/
/*Estilos User Comun*/
#pantallaUserC{
    display: block;
    background-color: white;
    height: 550px;
    width: 100%;
    padding-top: 30px;
}

#pantallaUserCB{
    display: block;
    background-color: white;
    width: 100%;
    padding-top: 30px;
}

h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
    padding-top: 15px;
    margin-left: 6%;
}

.formulario{
    width: 100%;
}

#pFormulario input[type=text] ,#pFormulario input[type=number], #pFormulario input[type=email]{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    margin-bottom: 0px;
    height: 23px;
}
/*Estilos User Comun*/